<%= simple_form_for(@record) do |f| %>
  <%= f.error_notification %>

  <section class="form-inputs">
    <%= f.input :name, as: :string %>
    <%= f.input :description %>
    <%= f.input :ingredients, as: :array, input_html: {fresh_item_text: "Add new ingredient"} %>
  </section>

  <section class="form-actions card">
    <section class="card-body">
      <%= f.button :submit, class: "btn-primary" %>
      <%= f.button :button, "Clear data", type: :reset, class: "btn-link" %>
    </section>
  </section>
<% end %>
