<p id="notice">
  <%= notice %>
</p>

<h1>Recipes</h1>

<section class="card-deck">
  <% @records.each do |record| %>
    <article class="card bg-light">
      <img class="card-img-top" src="" alt="title">
      <section class="card-body">
        <header>
          <h5 class="card-title"><%= record.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Written by <%= record.author.name || record.author.username %></h6>
        </header>
        <p class="card-text">
          <%= record.description %>
        </p>
        <%= link_to "Show", record, class: "card-link" %>
        <%= link_to "Edit", edit_recipe_path(record), class: "card-link" %>
        <%= link_to "Destroy", record, method: :delete, data: { confirm: "Are you sure?" }, class: "card-link" %>
      </section>
      <footer class="card-footer">
        <small class="text-muted">Last updated <%= time_ago_in_words(record.updated_at) %> ago</small>
      </footer>
    </article>
  <% end %>
</section>

<nav class="nav justify-content-end mt-2">
  <li class="nav-item">
    <%= link_to "New Recipe", new_recipe_path, class: "nav-link" %>
  </li>
</nav>
