<% content_for :page_title, "Poutineer - #{@record.name}" %>
<% content_for :page_header, "#{@record.name}" %>
<% content_for :page_types, :splash %>

<% if notice %>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>

<%= @record.rendered_description %>

<h2>Ingredients</h2>

<ul class="list-group">
  <% @record.ingredients.each do |ingredient| %>
    <li class="list-group-item"><%= ingredient %></li>
  <% end %>
</ol>

<nav class="nav justify-content-end mt-2">
  <li class="nav-item">
    <%= link_to "Edit", edit_recipe_path(@record), class: "nav-link link-primary" %>
  </li>
  <li class="nav-item">
    <%= link_to "List", recipes_path, class: "nav-link link-primary" %>
  </li>
</nav>
