<% content_for :page_title, "Poutineer - Sign up" %>
<% content_for :page_header, "Sign up" %>
<% content_for :page_types, :splash %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <% if flash.key?("alert") %>
    <section class="alert alert-danger" role="alert">
      <%= flash["alert"] %>
    </section>
  <% end %>

  <section class="field-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </section>

  <%= f.hidden_field :password, value: SecureRandom.hex %>

  <section class="call-to-action btn-group">
    <%= f.submit "Sign up", class: "btn btn-link link-primary" %>
    <%= render "accounts/shared/links" %>
  </section>
<% end %>
