<% content_for :page_title, "Poutineer - About" %>

<div class="container container-about">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">About Poutineer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <p class="text-center about">
        Poutineer is community with a passion for poutine, focused on finding places where it can be enjoyed all over the world and sharing recipes to make at home. Our mission is to ensure this Canadian treasure is done justice no matter where you eat it.
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "malf-75.jpg", class: "rounded special-icon" %>
      </div>
      <h3 class="text-center">Find poutine around the world</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "malf-75.jpg", class: "rounded special-icon" %>
      </div>
      <h3 class="text-center">Make poutine right at home</h3>
      <p style="text-align: justify;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "malf-75.jpg", class: "rounded special-icon" %>
      </div>
      <h3 class="text-center">Learn about the history of poutine</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid jumbotron-about">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>Become a Poutineer</h2>
        <p>
          Poutineer is the best platform for finding poutine in all corners of the world and sharing recipes to make at home. Our mission is to ensure this Canadian treasure is done justice no matter where you eat it.
        </p>

        <div class="row">
          <div class="col-12">
            <div class="media">
              <%= image_tag "malf-75.jpg", class: "align-self-center mr-3 rounded" %>
              <div class="media-body">
                <h3 class="mt-0">Create an Account</h3> Want to become a true Poutineer? Create a free account and gain access to a slew of features that will make your hunt for poutine that much easier.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div class="media">
              <%= image_tag "malf-75.jpg", class: "align-self-center mr-3 rounded" %>
              <div class="media-body">
                <h3 class="mt-0">Leave Reviews and Comments</h3> Want to become a true Poutineer? Create a free account to gain access to a slew of features that will make your hunt for poutine that much easier.
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div class="media">
              <%= image_tag "malf-75.jpg", class: "align-self-center mr-3 rounded" %>
              <div class="media-body">
                <h3 class="mt-0">Earn Badges</h3> Want to become a true Poutineer? Create a free account to gain access to a slew of features that will make your hunt for poutine that much easier.
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-right">Download the App</h5>
            <p class="card-text text-right">Like a true Poutineer, find the best poutine near you or add a new spot that serves the dish while you're on the go.</p>
            <a href="#" class="btn btn-primary float-right">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 0px; padding-top: 30px; padding-bottom: 16px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-about border-info mb-3">
        <div class="card-body text-info">
          <div class="media">
            <%= image_tag "malf-75.jpg", class: "align-self-center mr-3 rounded", width: 50 %>
            <div class="media-body">
              <h4 class="card-title mt-0">Support Us</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-about border-info mb-3">
        <div class="card-body text-info">
          <div class="media">
            <%= image_tag "malf-75.jpg", class: "align-self-center mr-3 rounded", width: 50 %>
            <div class="media-body">
              <h4 class="card-title mt-0">Contact Us</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
