<section class="card-body">
  <%= recipe.rendered_description %>
</section>

<table class="table">
  <tbody>
    <tr>
      <% if recipe.diets.any? %>
        <th scope="row">Diets</th>
        <td>
          <% recipe.diets.each do |diet| %>
            <span class="badge badge-info"><%= diet.name %></span>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr>
      <% if recipe.allergies.any? %>
        <th scope="row">Allergies</th>
        <td>
          <% recipe.allergies.each do |allergy| %>
            <span class="badge badge-warning"><%= allergy.name %></span>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% if recipe.tags.any? %>
        <th scope="row">Tags</th>
        <td>
          <% recipe.tags.each do |tag| %>
            <span class="badge badge-light"><%= tag.name %></span>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th scope="row">Cook Time</th>
      <td>
        <%= recipe.cook_time %> minutes
      </td>
    </tr>
    <tr>
      <th scope="row">Prep Time</th>
      <td>
        <%= recipe.prep_time %> minutes
      </td>
    </tr>
  </tbody>
</table>

<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-secondary">
    Ingredients
  </li>
  <% recipe.ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <%= ingredient %>
    </li>
  <% end %>
</ul>

<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-secondary">
    Instructions
  </li>
  <% recipe.instructions.each do |instruction| %>
    <li class="list-group-item">
      <%= instruction %>
    </li>
  <% end %>
</ul>
