<p class="card-text">
  <% recipe.diets.each do |diet| %>
    <span class="badge badge-info"><%= diet.name %></span>
  <% end %>

  <% recipe.allergies.each do |allergy| %>
    <span class="badge badge-warning"><%= allergy.name %></span>
  <% end %>

  <% recipe.tags.each do |tag| %>
    <span class="badge badge-light"><%= tag.name %></span>
  <% end %>
</p>

<%= recipe.description %>

<ul class="list-group">
  <% recipe.ingredients.each do |ingredient| %>
    <li class="list-group-item">
      <%= ingredient %>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <% recipe.instructions.each do |instruction| %>
    <li class="list-group-item">
      <%= instruction %>
    </li>
  <% end %>
</ul>
