<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:page_title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= render :partial => "stylesheets" %>
  </head>

  <body>
    <main id="application" class="page <%= Array(yield(:page_types)).join(" ") %>">
      <section id="<%= params[:id] %>_page" class="container">
        <h1 class="page-title">
          <strong><%= yield(:page_header) %></strong>
        </h1>
        <%= yield %>
      </section>
    </main>
    <%= render :partial => "javascripts" %>
  </body>
</html>
